.item {
  display: flex;
  align-items: center;
  justify-content: center;

  .image {

    img {
      width: 200px;
      height: 200px;
    }
  }

  .itemContent {
    margin-left: 20px;

    .description {
      a {
        color: brown;
        font-size: larger;
      }
    }

    .extra {
      display: flex;
      align-items: center;

      .avatarImg {
        margin-left: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}
