.item{
  .image{

    img{
      width: 100px;
      height: 100px;
    }
  }
  .description{

  }
  .extra{

    .avatarImg{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
